########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules/bcrypt
node_modules/connect-redis
node_modules/dateformat
node_modules/ejs
node_modules/grunt*
node_modules/holder
node_modules/include-all
node_modules/nodemailer
node_modules/rc
node_modules/sails*
node_modules/underscore

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea


########################
# local config
########################
config/local.js
