<html>
<head>
  <title>Demande d'une simulation personalisée</title>
</head>
<body>
  <p>
    Chère Madame, Monsieur,
  </p>
  <p>
    Merci de vous être enregistré sur <a href="http://perp163.fr">PERP163.fr</a>.
  </p>
  <p>
    Votre demande de simulation personalisée a bien été reçue.
    <br />
    Vous recevrez tous les détails très prochainement.
  </p>
  <p>
    Nous vous souhaitons une agréable journée.
    <br /><br />
    Cordialement,
    <br /><br />
    L'équipe PERP163.fr
  </p>
  <p>
    <a href="http://perp163.fr"><img src="cid:logo@PERP163.fr" /></a>
  </p>
</body>
</html>