<html>
<head>
  <title>Demande d'une simulation personalisée</title>
</head>
<body>
  <p>
    Bonjour,
  </p>
  <p>
    Un nouveau client vient de faire une demande de simulation personalisée avec les infos suivantes:
  </p>
  <p>
    Email: <a href="mailto:{{email}}">{{email}}</a>
    <br />
    Date de naissance: {{birthDate}}
    <br />
    Age prévisionel de départ à la retraite: {{expectedRetirementAge}}
    <br />
    Tranche de revenus bruts annuels du foyer: {{familyYearlyGrossIncomeRange}}
  </p>
  <p>
    Cordialement,
    <br /><br />
    L'équipe PERP163.fr
  </p>
  <p>
    <a href="http://perp163.fr"><img src="cid:logo@PERP163.fr" /></a>
  </p>
</body>
</html>