<!-- Edit user bank account function used for views/user/edit.ejs -->
<script src="/nolinker/js/home/index.js"></script>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div id="carousel-homepage" class="carousel slide" data-ride="carousel">
			  <!-- Indicators -->
			  <ol class="carousel-indicators">
			    <li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
			    <li data-target="#carousel-homepage" data-slide-to="1"></li>
			    <li data-target="#carousel-homepage" data-slide-to="2"></li>
			  </ol>

			  <!-- Wrapper for slides -->
			  <div class="carousel-inner">
			    <div class="item active"> 
			      <img src="/images/money.jpg" alt="Accessible à tous">
			      <div class="carousel-caption">
			      	<h1>Accessible à tous</h1>
			        <p>Le PERP 163 permet de se constituer une épargne retraite dans un cadre fiscal exceptionnel</p>
			       	<hr>
			      	<a href="#" data-toggle="modal" data-target="#modalAskForSimulation" class="btn btn-info">Demandez une simulation personalisée</a>
				    <a href="#" data-toggle="modal" data-target="#modalSubscription" class="btn btn-success">Souscrire en ligne</a>
			      </div>
			    </div>
			   	<div class="item">
			      <img src="/images/beach.jpg" alt="Quoi qu'il arrive, vous ne cotisez pas pour rien">
			      <div class="carousel-caption">
			      	<h1>Quoi qu'il arrive, vous ne cotisez pas pour rien !</h1>
			      	<p>Avec les rentes à vie et 25 ans d'annuités garanties du PERP 163, vous pourrez prendre votre retraite en tout sérénité</p>
			      	<hr>
			      	<a href="#" data-toggle="modal" data-target="#modalAskForSimulation" class="btn btn-info">Demandez une simulation personalisée</a>
				    <a href="#" data-toggle="modal" data-target="#modalSubscription" class="btn btn-success">Souscrire en ligne</a>
			      </div>
			    </div>
			   	<div class="item">
			      <img src="/images/showBusinessCard.jpg" alt="Le PERP 163 est assuré par SWISS LIFE">
			      <div class="carousel-caption">
			      	<h1>Le PERP 163 est assuré par SWISS LIFE</h1>
			      	<p>Assureur reconnu pour sa solidité et son expérience en matière de retraite</p>
			      	<hr>
			      	<a href="#" data-toggle="modal" data-target="#modalAskForSimulation" class="btn btn-info">Demandez une simulation personalisée</a>
				    <a href="#" data-toggle="modal" data-target="#modalSubscription" class="btn btn-success">Souscrire en ligne</a>
			      </div>
			    </div>	    
			  </div>

			  <!-- Controls -->
			  <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
			    <span class="glyphicon glyphicon-chevron-left"></span>
			  </a>
			  <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
			    <span class="glyphicon glyphicon-chevron-right"></span>
			  </a>
			</div>
			<hr>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
	    	<div class="thumbnail">
	      		<a href="#" data-toggle="modal" data-target="#modal30yo"><img src="/images/30yo.jpg" alt="Si vous avez 30 ans"></a>	
				<div class="caption">
					<h3>Vous avez 30 ans</h3>
					<p class="text-right"><button class="btn btn-info" data-toggle="modal" data-target="#modal30yo">Voir la simulation</button></p>
				</div>
	    	</div>
    	</div>
		<div class="col-md-4">
	    	<div class="thumbnail">
	      		<a href="#" data-toggle="modal" data-target="#modal40yo"><img src="/images/40yo.jpg" alt="Si vous avez 40 ans"></a>	
				<div class="caption">
					<h3>Vous avez 40 ans</h3>
					<p class="text-right"><button class="btn btn-info" data-toggle="modal" data-target="#modal40yo">Voir la simulation</button></p>
				</div>
	    	</div>
    	</div>
		<div class="col-md-4">
	    	<div class="thumbnail">
	      		<a href="#" data-toggle="modal" data-target="#modal50yo"><img src="/images/50yo.jpg" alt="Si vous avez 50ans"></a>
				<div class="caption">
					<h3>Vous avez 50 ans</h3>
					<p class="text-right"><button class="btn btn-info" data-toggle="modal" data-target="#modal50yo">Voir la simulation</button></p>
				</div>
	    	</div>
    	</div>
    </div>

   	<!-- Modal for PERP simulations, DIV to load templates via nolinker/js/home/index.js -->
	<div id="customModals"></div>

	<script src="/js/customValidate.js"></script>
	<script src="/js/customjQueryUI.js"></script>
	<!-- 
		Activate popover in the modal
		- does not work in the inital js loaded in layout.ejs since the modal is added dynamically with the template after the page is loaded
	-->
	<script type="text/javascript">
		$(function () {
	    	$(".customPopover").popover();
		});
	</script>

	<!-- In case the action that loaded the page was a simulation request, show the thanksForSimulation modal-->
	<% 
		if(session.lastAction === 'simulationRequestSent') {	
	%>
			<script type="text/javascript">
			    $(function () {
					$('#modalThanksForSimulation').modal('show');
				});
			</script>	
	<%		
			// reinitialize lastAction session variable
			session.lastAction = null;
		} 
	%>
</div>