<div class="container">
	<div id="carousel-homepage" class="carousel slide" data-ride="carousel">
	  <!-- Indicators -->
	  <ol class="carousel-indicators">
	    <li data-target="#carousel-homepage" data-slide-to="0" class="active"></li>
	    <li data-target="#carousel-homepage" data-slide-to="1"></li>
	    <li data-target="#carousel-homepage" data-slide-to="2"></li>
	  </ol>

	  <!-- Wrapper for slides -->
	  <div class="carousel-inner">
	    <div class="item active"> 
	      <img src="/images/money.jpg" alt="altmoney">
	      <div class="carousel-caption">
	      	<h1>Accessible à tous</h1>
	        <p>Le PERP 163 permet de se constituer une épargne retraite dans un cadre fiscal exceptionnel</p>
	       	<hr>
	      	<a href="user/new" class="btn btn-info">Demandez une simulation personalisée</a>
		    <a href="user/new" class="btn btn-success">Souscrire en ligne</a>
	      </div>
	    </div>
	   	<div class="item">
	      <img src="/images/beach.jpg" alt="altbeach">
	      <div class="carousel-caption">
	      	<h1>Quoi qu'il arrive, vous ne cotisez pas pour rien !</h1>
	      	<hr>
	      	<a href="user/new" class="btn btn-info">Demandez une simulation personalisée</a>
		    <a href="user/new" class="btn btn-success">Souscrire en ligne</a>
	      </div>
	    </div>
	   	<div class="item">
	      <img src="/images/showBusinessCard.jpg" alt="Le PERP 163 est assuré par SWISS LIFE">
	      <div class="carousel-caption">
	      	<h1>Le PERP 163 est assuré par SWISS LIFE</h1>
	      	<p>Assureur reconnu pour son expérience en matière de retraite et sa solidité</p>
	      	<hr>
	      	<a href="user/new" class="btn btn-info">Demandez une simulation personalisée</a>
		    <a href="user/new" class="btn btn-success">Souscrire en ligne</a>
	      </div>
	    </div>	    
	  </div>

	  <!-- Controls -->
	  <a class="left carousel-control" href="#carousel-homepage" data-slide="prev">
	    <span class="glyphicon glyphicon-chevron-left"></span>
	  </a>
	  <a class="right carousel-control" href="#carousel-homepage" data-slide="next">
	    <span class="glyphicon glyphicon-chevron-right"></span>
	  </a>
	</div>
	<!--
	<div class="jumbotron">
		<h1><%= __("static_index_title") %></h1>

		<h2><%= __("static_index_content") %></h2>
		<a href="user/new" class="btn btn-lg btn-primary"><%= __("Sign up") %></a>
	</div> -->
</div>