
<div class="modal fade" id="modalThanksForSimulation" tabindex="-1" role="dialog" aria-labelledby="modalThanksForSimulationLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
	<h4 class="modal-title" id="modalThanksForSimulationLabel"><img src="/images/logoDualconseils.png" width="15%"> Demande d'une simulation personalisée PERP163.fr</h4>
</div>
<div class="modal-body">

		Votre demande de simulation a été envoyée, vous recevrez un mail de confirmation dans quelques minutes.
		<br /><br />
		Un conseiller PERP163.fr vous contactera prochainement pour discuter de votre simulation et répondre à vos questions.
		<br /><br />
		Nous vous remercions de votre visite.
</div>
 <div class="modal-footer">
	<button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
</div>